.cyan-tab {
}

.cyan-tab-bar {
    height: 29px;
    border-left: solid 1px #888888;
}

.cyan-tab-tabs div {
    float: left;
    line-height: 28px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: solid 1px #888888;
    border-right: solid 1px #888888;
    color: #005590;
    cursor: pointer;
}

.cyan-tab-tabs .cyan-tab-unselected {
    height: 28px;
    background-color: #edf2f7;
    font-size: 12px;
}

.cyan-tab-tabs .cyan-tab-selected {
    height: 29px;
    background-color: #ffffff;
    font-size: 13px;
}

.cyan-tab-pages {
    background: #ffffff;
    border: solid 1px #888888;
}

.cyan-panel {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}