.cyan-tree {
    float: left;
    font-size: 13px;
    min-width: 100%;
    *width: 100%;
}

.cyan-tree * {
    white-space: nowrap;
    overflow: hidden;
}

.cyan-tree-node {
    height: 22px;
    cursor: pointer;
}

.cyan-tree-node:hover {
    background: #eeeeee;
}

.cyan-tree-node-selected {
    background: #e3e9f5;
}

.cyan-tree .cyan-tree-node-selected:hover {
    background: #e3e9f5;
}

.cyan-tree-node-indent {
    display: inline-block;
    *display: inline;
    width: 16px;
    height: 18px;
    margin-top: 3px;
    margin-right: 2px;
}

.cyan-tree-elbow {
    background: url("tree/elbow.gif") no-repeat;
}

.cyan-tree-elbow-end {
    background: url("tree/elbow-end.gif") no-repeat;
}

.cyan-tree-elbow-minus {
    background: url("tree/elbow-minus.gif") no-repeat;
}

.cyan-tree-elbow-end-minus {
    background: url("tree/elbow-end-minus.gif") no-repeat;
}

.cyan-tree-elbow-plus {
    background: url("tree/elbow-plus.gif") no-repeat;
}

.cyan-tree-elbow-end-plus {
    background: url("tree/elbow-end-plus.gif") no-repeat;
}

.cyan-tree-elbow-line {
    background: url("tree/elbow-line.gif") no-repeat;
}

.cyan-tree-node-icon {
    display: inline-block;
    *display: inline;
    width: 16px;
    height: 16px;
    padding-top: 4px;
    padding-bottom: 2px;
    margin-right: 2px;
}

.cyan-tree-node-loading {
    display: inline-block;
    *display: inline;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    margin-top: 4px;
}

.cyan-tree-node-icon span {
    display: inline-block;
    *display: inline;
    width: 16px;
    height: 16px;
}

.cyan-tree-node-icon span.cyan-tree-leaf {
    background: url("tree/leaf.gif") no-repeat;
}

.cyan-tree-node-icon span.cyan-tree-folder {
    background: url("tree/folder.gif") no-repeat;
}

.cyan-tree-node-icon span.cyan-tree-folder-open {
    background: url("tree/folder-open.gif") no-repeat;
}

.cyan-tree-node-icon img {
    width: 16px;
    height: 16px;
}

.cyan-tree-node-loading {
    background: url("tree/loading.gif") no-repeat;
}

.cyan-tree-node-text {
    display: inline-block;
    *display: inline;
    line-height: 22px;
    margin-right: 4px;
}

.cyan-tree-node-checkbox {
    display: inline-block;
    *display: inline;
}

.cyan-tree-node-checkbox input {
    cursor: pointer;
    margin: 0;
}