.invalid {
    background: #ffffff url(validate/invalid_line.gif) repeat-x bottom;
    border: 1px solid #dd7870;
}

.invalid_msg {
    color: red;
    font-size: 12px;
    text-indent: 20px;
    background: url("validate/warning.gif") no-repeat 2px;
}