.tk{
    display: none;
}
.qfk dt font.ft1 {
    float: none;
}

.qfk dt p {
    float: none;
    position: relative;
    top: -6px;
    display: inline-block;
}

a.ljjf2:hover {
    color: #282828;
}
#pay{
    position: absolute;
}
