.receiverselector {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 660px;
    height: 240px;
}

.receiverselector .grouptree {
    float: left;
    width: 218px;
    height: 238px;
    border: 1px solid #B5B8C8;
    background-color: white;
    overflow-x: auto;
}

.receiverselector .receivers {
    float: left;
    margin-left: 8px;
    height: 240px;
}

.receiverselector .buttons {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 65px;
    width: 40px;
}

.receiverselector .buttons button {
    width: 40px;
    margin-bottom: 3px;
}

.receiverselector .to {
    float: left;
}

.receiverselector .receivers select {
    width: 185px;
    height: 238px;
}

.receiverselector .to select {
    width: 185px;
    height: 238px;
}

.receiver_invalid {
    color: red;
}

.receiver_remark {
    color: gray;
    font-style: italic;
}

div.receiverlist {
    overflow: hidden;
    border: 1px solid gray;
    background-color: white;
    padding-top: 1px;
    cursor: text;
}

div.receiverlist {
    cursor: text;
    color: gray;
}

.receiverlist_text div.receiverlist {
    border: 1px solid #b5b8c8;
}

.receiverlist input {
    vertical-align: top;
    height: 20px;
    width: 2px;
    border-width: 0;
    outline: none;
}

.receiverlist div {
    display: inline;
    border: 1px solid white;
    height: 19px;
}

.receiverlist div.invalid {
    color: red;
}

.receiverlist div.selected {
    background-color: #80AAFF;
}

.receiverlist input.hidden {
    width: 0;
    height: 0;
}