#container {
    width: 100%;
    text-align: center;
}

#main {
    text-align: left;
    margin-top: 40px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.components {
    overflow: hidden;
    clear: both;
    width: 600px;
}

.components .component_item {
    padding-top: 5px;
    clear: both;
    width: 600px;
}

.components .component_item .label {
    padding-top: 3px;
    float: left;
    width: 90px;
    height: 22px;
    text-align: right;
    padding-right: 10px;
}

.components .component_item .component {
    text-align: left;
    padding-top: 0;
    float: left;
    width: 500px;
}

.components .component_item input {
    width: 420px;
    height: 18px;
}

.buttons {
    padding-top: 10px;
    clear: both;
    text-align: center;
    width: 600px;
}

.buttons .button {
    margin-left: 3px;
    margin-right: 3px;
}

#rule {
    margin-top: 20px;
    width: 600px;
    color: red;
    text-align: center;
}