body {
    text-align: center;
}

#container {
    width: 75%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: '华文新魏';
    font-size: 50px;
    color: #ff0000;
    margin-bottom: 40px;
}

h2 {
    font-family: '宋体';
    font-size: 22px;
    margin-top: 20px;
}

#time {
    text-align: right;
    font-size: 16px;
    font-family: '宋体';
    padding-bottom: 8px;
    border-bottom: 4px #ff0000 solid
}

#content {
    text-align: left;
    font-size: 16px;
    font-family: '宋体';
    line-height: 200%;
}

#editor {
    text-align: left;
    font-size: 16px;
    line-height: 45px;
    font-family: '宋体';
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    margin-bottom: 20px;
    margin-top: 20px;
}

