#mainBody {
    width: 100%;
}

#activite {
    width: 99%;
    height: 520px;
    margin-top: 6px;
    margin-left: 6px;
}

.component_line {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 6px;
}

.component_item .label {
    float: left;
    width: 10%;
    line-height: 20px;
    padding-right: 6px;
    text-align: right;
}

.component_item .component {
    float: left;
    width: 22%;
}

.component_item .wide_component {
    float: left;
    width: 85%;
}

.component_item .component select {
    width: 90%;
    height: 18px;
}

.component_item  .component input {
    width: 90%;
    height: 18px;
    text-align: left;
}

.component_item  .component input.checkbox {
    width: 18px;
    height: 18px;
    text-align: left;
}

.component_item .wide_component input {
    width: 100%;
    height: 18px;
    text-align: left;
}

.component_item .wide_component textarea {
    width: 100%;
    height: 80px;
    overflow-y: auto;
}

#members {
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 6px;
}

#members .label {
    float: left;
    width: 10%;
    line-height: 20px;
    text-align: right;
    padding-right: 6px;
}

#members .selector {
    float: left;
    width: 85%;
}

#members .selector .ownedselector {
    margin-left: 0;
    width: 100%;
}

#members .selector .ownedselector .to {
    clear: none;
    float: left;
    width: 180px;
}

#members .selector .ownedselector .buttons {
    float: left;
    clear: none;
}

#members .selector .ownedselector select {
    width: 180px;
    height: 202px;
}

#members .selector .ownedselector select {
    width: 180px;
    height: 202px;
}

.memberinfo {
    cursor: pointer;
    margin-right: 10px;
    color: gray;
}

#activeMembers span {
    float: left;
    color: blue;
    margin-left: 7px;
    margin-right: 7px;
}

.buttons {
    clear: both;
    text-align: center;
    padding-top: 8px;
    width: 100%;
}

.buttons span {
    margin-left: 3px;
    margin-right: 3px;
}

