#dialogBody {
    margin-bottom: 10px;
    overflow-y: auto;
}

#addButtons {
    clear: both;
    padding-top: 10px;
    width: 510px;
    text-align: right;
}

#addButtons button {
    width: 70px;
    padding-left: 0;
    padding-right: 0;
}

#elementsDiv {
    *height: 200px;
    min-height: 200px;
}

table.sublist {
    width: 500px;
    margin-right: 10px;
    margin-top: 12px;
}

td {
    height: 25px;
}

.element_type {
    width: 80px;
}

input.text {
    width: 250px;
    height: 16px;
}

input.serialName {
    width: 80px;
    height: 16px;
    vertical-align: middle;
    right: 10px;
}

input.serialLen {
    width: 30px;
    height: 16px;
    vertical-align: middle;
}

input.serialYear {
    width: 30px;
    height: 16px;
    vertical-align: middle;
}

input.dateFormat {
    width: 196px;
    height: 16px;
    vertical-align: middle;
}

input.varName {
    width: 184px;
    height: 16px;
    vertical-align: middle;
}

#dialogBody #buttons {
    clear: both;
    text-align: center;
    padding-top: 8px;
    width: 520px;
}