#dialogBody {
    margin-bottom: 40px;
}

#main {
    width: 550px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#dialogBody .components {
    clear: both;
    width: 550px;
    margin-top: 10px;
    margin-right: 8px;
    margin-left: 8px;
}

#dialogBody .components .component_line {
    clear: both;
}

#dialogBody .components .component_item .label {
    padding-top: 3px;
    margin-bottom: 6px;
    float: left;
    width: 60px;
    text-align: right;
    padding-right: 10px;
}



#dialogBody .components .component_line .component_item .content {
    padding-top: 3px;
    margin-bottom: 6px;
    float: left;
    width: 450px;
}

/*按钮样式*/
#dialogBody #buttons {
    clear: both;
    text-align: center;
    padding-top: 8px;
    width: 550px;
}

#dialogBody #buttons .button {
    margin-left: 3px;
    margin-right: 3px;
}
